<%= render 'layouts/navigation' %>
<%= render "orders/top_orders" %>
<div class="fixed-action-btn">
  <a href="/categories" class="btn-floating btn-large accent-color">
    <i class="large ion-android-add"></i>
  </a>
</div>
