<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>Project:</strong>
  <%= @order.project %>
</p>

<p>
  <strong>Descriptio:</strong>
  <%= @order.description %>
</p>

