<div class="bnav primary-color z-depth-1">
  <div class="bnav__item">
    <i class="ion-android-close"></i>
    Crear requisición
  </div>
  <div class="bnav__item bnav__item--right">
    CREAR
  </div>
</div>