  <nav class="primary-color">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Requisiciones</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/categories"><i class="material-icons">create</i></a></li>
      </ul>
    </div>
  </nav>